*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}
body{  
    font-family: 'Montserrat',sans-serif;   
}
button{
    font-family: 'Mulish',sans-serif;
}

header{
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.logo-container,.nav-links,.admin-login{
    display: flex;
}

.logo-container{
    flex: 1;
}

.logo{
    font-family: 'Mulish',sans-serif;
    font-weight:600;
    margin: 5px;
}

nav{
    flex: 2;
}

.nav-links{
    justify-content: space-around;
    list-style: none;

}

.nav-link{
    color: #757575;
    font-size: 18px;
    text-decoration: none;
}

.nav-link:hover{
    color: black
}

.admin-login{
    flex: 1;
    justify-content: flex-end;
}

.presentation{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 90vh;
    align-items: center;
}

.introduction{
    flex: 1;
}

.intro-text h1{
    font-size: 36px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p{
    margin-top: 5px;
    font-size: 18px;
    color: #585772;
}

.cta{
    padding: 50px 0px 0px 0px;

}

.cta-select{
    border: 1px solid #C1292E;
    background: transparent;
    color: #C1292E;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.cta-select:hover{
    background:#C1292E ;
    color: #fff;
    transition: all 0.2s ease-out;
}

.cta-contact{
    border: none;
    background: #c1292e;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    margin: 30px 0px 0px 30px;

}

.cover{
    flex: 1;
    display: flex;
    justify-content: center;
    height: 40vh;
}

.cover img{
    height: 100%;
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.507));
    border-radius: 5%;
    animation: drop 0.7s ease;
}

.big-circle{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 80%;
}

.medium-circle{
    position: absolute;
    top: 30%;
    left: 0%;
    z-index: -1;
    height: 60%;
    opacity: 0.5;
}

/* SERVICES SECTION */

#services{
    width: 100%;
    height: 100vh;
}

.titleBG{
    width: 100%;
    height: 40vh;
    /* background: radial-gradient(#396afc,#2948ff); */
    background: linear-gradient(to right,rgb(11,77,172),rgb(0,153,194));
    display: flex;
    justify-content: center;


   

}

.titleBG h1{
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    margin-top: 8vh;

}

.details{
    position: relative;
    top:-100px;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.detail-card{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    text-align: center;
    justify-content: space-around;
}

.detail-card-img{
    display: flex;
    width: 180px;
    height: 180px;
    border-radius: 15px;
    /* background: linear-gradient(#36D1DC,#5B86E5); */
    /* background: radial-gradient(#396afc,#2948ff); */
    background: linear-gradient(to right,rgb(11,77,172),rgb(0,153,194));
    align-items: center;
    justify-content: center;
    border: 10px solid #fff;
    margin-bottom: 10px;

}

.detail-card-img img{
    width: 80px;
}

.detail-card-title{
    font-size: 27px;
    font-weight: 600;
    color:#5B86E5 ;
}

.detail-card-para{
    font-size: 13px;
    margin: 15px 15px 0 15px;
}

/* PROJECTS SECTION */

#project{
    margin-top: 100px;
    width: 100%;
    height: 100vh;
}

.projectBG{
    
    width: 100%;
    height: 40vh;
    /* background: radial-gradient(#396afc,#2948ff); */
    /* background: linear-gradient(to right,#36D1DC,#5B86E5); */
    background: linear-gradient(to right,rgb(11,77,172),rgb(0,153,194));
    display: flex;
    justify-content: center;
   

}

.projectBG h1{
    position: relative;
    top: -280px;
    color: #5b86e5;
    font-weight: 600;
    font-size: 40px;
    margin-top: 8vh;

}

.projectDetails{
    position: relative;
    top:-430px;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.project-detail-card{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    text-align: center;
    justify-content: space-around;
}

.project-detail-card-img{
    display: flex;
    width: 180px;
    height: 180px;
    border-radius: 15px;
    background: linear-gradient(to right,rgb(11,77,172),rgb(0,153,194));
    /* background: linear-gradient(#36D1DC,#5B86E5); */
    /* background: radial-gradient(#396afc,#2948ff); */
    align-items: center;
    justify-content: center;
    border: 10px solid #fff;
    margin-bottom: 10px;
}

.project-detail-card-img img{
    width: 80px;
}

.project-detail-card-title{
    font-size: 27px;
    font-weight: 600;
    color:#ffffff ;
}

.project-detail-card-para{
    font-size: 13px;
    margin: 15px 15px 0 15px;
}

/* OurTeam SECTION */

#ourTeam{
    width: 100%;
    height: 39vh;
    
}

.ourTeamBG{
    top: -500px;
    position: relative;
    width: 100%;
    height: 100vh;
    /* background: radial-gradient(#396afc,#2948ff); */
    /* background: linear-gradient(to right,#36D1DC,#5B86E5); */
    background: linear-gradient(to right,rgb(11,77,172),rgb(0,153,194));
    display: flex;
    justify-content: center;
    

}

.ourTeamBG h1{
   
    color: #ffffff;
    font-weight: 600;
    font-size: 40px;
    margin-top: 8vh;

}

.ourTeamDetails{
    position: relative;
    top:-135vh;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.ourTeam-detail-card{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    text-align: center;
    justify-content: space-around;
}

.ourTeam-detail-card-img{
    position: relative;
    display: flex;
    width: 180px;
    height: 180px;
    border-radius: 15px;
    /* background: linear-gradient(#36D1DC,#5B86E5); */
    /* background: radial-gradient(#396afc,#2948ff); */
    background: linear-gradient(to right,rgb(11,77,172),rgb(0,153,194));
    align-items: center;
    justify-content: center;
    border: 5px solid #fff;
    margin-bottom: 10px;
}

.ourTeam-detail-card-img-frame{
    position: relative;
    display: flex;
    width: 190px;
    height: 380px;
    border-radius: 15px;
    background-color: white;
    align-items: flex-start;
    justify-content: center;
    border: 10px solid #fff;
    margin-bottom: 5%;
}

.ourTeam-detail-card-img img{
    width: 80px;
}

.ourTeam-detail-card-title{
    font-size: 27px;
    font-weight: 600;
    color:#ffffff ;
}

.ourTeam-detail-card-para{
    font-size: 13px;
    margin: 15px 15px 0 15px;
}

/* CONTACT SECTION */

#contact-us{
width: 100%;
height: 50vh;
display: flex;
align-items: center;
justify-content: space-evenly;
text-align: center;
flex-direction: column;
}

#contact-us h1{
    font-size: 30px;
    font-family: 'Mulish',sans-serif;
}

.contact-details .location{
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-details p{
    font-size: 20px;
    margin: 10px;
}

#copyright{
    width: 100%;
    height: 7vh;
    background:  linear-gradient(to right,rgb(11,77,172),rgb(0,153,194));
    display: flex;
    justify-content: center;
    align-items: center;
    color: blanchedalmond;
    font-size: 14px;
    font-family: 'Mulish',sans-serif;
}

/* ANIMATION */
@keyframes drop{
    0%{
        opacity: 0;
        transform: translateY(-80px);
  
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
        
    }
}

/* MOBILE VIEW */

@media screen and (max-width: 1024px){
    .presentation{
        flex-direction: column;
    }
    .introduction{
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1{
        font-size: 25px;
    }
    .intro-text p{
        font-size: 15px;
    }
    .cta{
        padding: 10px 0px 0px 0px;
    }
    .image-s{
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform:translate(50%,5%);
    }
    .cover img{
        width:80%
    }
    .big-circle{
        opacity: 0.2;
    }
    .medium-circle{
        opacity: 0.1;
    }

    nav ul{
        width: 0;
        height: 0;
        visibility: hidden;
        margin: 0;
    }
   
   
}