.header {

    list-style-type: none;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 0;
    overflow: hidden;
    background-color:transparent;
}
    
.header-tabs { 
    float: right;
}


.header-tabs a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    border-bottom: 5px solid #fff;
}
  
.header-tabs a:hover {
   animation: bottom-anim 5s;

}

@keyframes bottom-anim{
   
    60%{
        border-bottom: 5px solid #000;
        
    }
}
 
.banner{
   
    max-width: 100%;
    max-height: fit-content;
}

.banner h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: snow;
    
}

.column{
    padding: 10em;
    text-align: center;
}